body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.skip {
    display: flex;
    background-image: url(eat-healthy-main/images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}

.diet {
    width: 50%;
    padding-top: 10%;
    padding-left: 10%;

}

.diet img {
    width: 100%;
    height: 70%;
}

.h1 {
    color: tomato;
}

.sec1 {
    font-size: 50px;
    font-weight: bold;
    color: darkgrey;
}

.para {
    color: grey;
}

.Link {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    background-image: linear-gradient(grey, tomato);

}

.about-me {
    display: flex;
    background-image: url(eat-healthy-main/images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;

    background-size: auto;


}

.img02 {
    width: 50%;
    padding-left: 10%;

}

.aboutmepara {

    width: 50%;
    padding-right: 10%;


}

.aboutmepara img {
    padding-left: 10%;
}

.h2 {
    color: rgb(13, 142, 228);
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.recipies {
    display: flex;
    width: 60%;
    margin: auto;
}

.recipies img {
    width: 100%;
}

.thai {
    text-align: center;
    color: gray;
    font-weight: bold;
    font-size: 30px;
}

.tai {
    text-align: center;
}

.Burrito {

    margin-left: 3%;

    padding: 2% 2% 2% 2%;

    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;


}

.Burrito p {
    text-align: justify;
}

.social {
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 10px 10px 30px grey;
}

.sea {
    margin-left: 10%;
    padding-right: 10%;


}

.foot {
    text-align: center;
    background-color: black;
    margin-top: 5%;
}

.footer {
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 5%;
}

#E {
    font-weight: bold;
    font-size: 25PX;
    color: orange;
}

#F {
    font-weight: bold;
    font-size: 25PX;
    color: grey;
}